# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
*.env

# Virtualenv
venv/
env/
.env/

# Logs
*.log

# Temporary files
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

# IDE
.vscode/
.idea/

# Private docs
README.private.md

# Database dumps
*.sql
*.dump

# Node (frontend)
node_modules/
# Local app databases
*.db
app_notes/.venv/
app_notes.zip
OLD-app_notes/
